body {
    background-color: rgb(68, 68, 68);
    color: white;
}

body a {
    color: rgb(153, 153, 153);
}

body a:hover {
    color: white;
    text-decoration: none;
}

body .alert a {
    color: rgb(0, 136, 204);
    text-decoration: none;
}

body .alert a:hover {
    color: rgb(0, 85, 128);
}

[class^="icon-working"],
[class*=" icon-working"] {
    background-image: url("/working.gif");
    background-position: 0px 0px;
}

.container #tabs a {
    color: white;
}

.container #tabs li.active a,
.container #tabs a:hover {
    color: rgb(68, 68, 68);
}

.container #tabs i {
    margin-left: 3px;
    margin-right: 3px;
    background-image: url("/bootstrap/img/glyphicons-halflings-white.png");
}

.container #tabs li.active i,
.container #tabs a:hover i {
    background-image: url("/bootstrap/img/glyphicons-halflings.png");
}

.container .links td {
    line-height: 42px;
}

.container .links .clicks {
    text-align: center;
}

.container.newlink {
    margin-top: 40px;
    width: 800px;
}

.container.newlink .hero-unit {
    background: none;
}

.container.newlink span.add-on {
    color: rgb(51, 51, 51);
    padding-left: 10px;
    padding-right: 6px;
    height: 32px;
    line-height: 32px;
}

.container.newlink .ln-logo {
    text-align: center;
}

.container.newlink div h1 {
    font-family: "Helvetica";
    font-style: italic;
    text-align: center;
    margin: 14px auto;
}

.container.newlink div input,
.container.newlink div button {
    padding: 10px 12px;
}

.container.newlink div p {
    padding: 5px 12px;
}

.container.newlink div input#name {
    padding-left: 6px;
    width: 320px;
}

.container.newlink div input#url {
    width: 654px;
}

.container .links {
    margin-top: 40px;
}

.container .links button img {
    margin-left: 8px;
}

.container.login,
.container.register,
.container.reset {
    padding-top: 40px;
    width: 500px;
}

.container.login #remember {
    margin: auto 10px;
}

.container.login #login {
    margin-right: 10px;
}

.container.login #or-register {
    line-height: 26px;
}

.container.register .field #email {
    width: 300px;
    height: 32px;
}

.container.register .field .add-on {
    padding: 4px 12px;
    height: 32px;
    font-size: 24px;
    color: grey;
    line-height: 30px;
}

.container.register .btn {
    padding: 11px 14px;
}

.container.register p {
    text-align: center;
}
